.meal {
  margin-top: 2rem;
  padding: 0 4rem;
}

button {
  display: block;
  margin: 0 auto;
  font-family: "Comfortaa", cursives;
  border: none;
  padding: 10px 2rem;
  font-size: 1.5rem;
  background-color: #6047ce;
  color: #fefeff;
  border-radius: 10px;
  cursor: pointer;
}
