/* Suggestion Component Style */
main {
  margin-top: 2rem 4rem;
  padding: 2rem 5rem;
  font-family: "Maven Pro", sans-serif;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.meal-info img {
  width: 500px;
  border-radius: 10px;
}

.meal-title {
  font-size: 2.5rem;
  color: #6047ce;
  text-transform: capitalize;
  font-weight: 900;
}

.meal-instruction small {
  font-size: 1rem;
  margin-right: 1rem;
}

.category::before {
  content: "Category: ";
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
}

.area::before {
  content: "Origin: ";
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
}

.meal-instruction {
  text-align: justify;
  max-width: 50%;
}

.meal-instruction .meal-desc {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.1rem;
}

.meal-desc::before {
  content: "Description: ";
  font-weight: bold;
  font-size: 1.1rem;
}

.meal-instruction .tag {
  padding: 5px;
  background-color: #6047ce;
  color: #fefeff;
  border-radius: 5px;
}

.ingredients {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.ingredients > .ingredient > h3,
.ingredients > .measure > h3 {
  font-size: 1.5rem;
}

.ingredients > .ingredient > p,
.ingredients > .measure > p {
  font-size: 1.1rem;
}

.ingredients .measure p {
  text-align: right;
}

.sources {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sources > div > a {
  margin-right: 10px;
  text-decoration: none;
  color: #f15c5c;
  font-size: 1.5rem;
}

.sources > div > a:hover {
  color: #f04444;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .meal-instruction {
    min-width: 100%;
    margin: 0 auto;
  }
}
